Repository MediMindeRx/MediMinderx-API-v1, pull requests merged in 2020-10, with the labels that each got.

#1 Json
  README.md
  api/__init__.py
  api/database/models.py
  api/resources/locations.py
  api/resources/reminders.py
  api/resources/schedules.py
  api/resources/users.py
  migrations/versions/2132b72e7059_.py
  requirements.txt
Labels: API, BE

#3 Feature/reminder model fix
  .gitignore
  api/database/models.py
Labels: BE

#4 Remove unique indentifier issue
  api/database/models.py
  api/resources/locations.py
  api/resources/schedules.py
  migrations/versions/2132b72e7059_.py
Labels: API, BE, bug

#5 Feature/unix time fix
  api/database/models.py
Labels: BE
